.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw; /* Dostosowuje szerokość logowania */
    min-height: 100vh; /* Dostosowuje wysokość logowania */
    padding: 1rem; /* Dodatkowy margines dla małych ekranów */
    box-sizing: border-box; /* Uwzględnienie paddingu w wymiarach elementu */
}

.register-box {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.register-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}